.nails-blog-skin-classic {
    &.browse {
        .posts {
            .post {
                margin-bottom: 2.5em;
                .title {
                    margin-top: 0;
                }
            }
        }
        .sidebar {
            .widget {
                margin-bottom: 2em;
                h3 {
                    margin-top: 0;
                }
            }
        }
        .archive-title {
            h3 {
                margin-top: 0;
            }
        }
    }
    &.single {
        .post {
            .categories,
            .tags {
                margin-bottom: 0.5em;
                .badge {
                    a {
                        color: inherit;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}